/* header-styles-related */
body{
    font-family: "Work Sans", sans-serif;
    /* margin: 0px 230px;
     */
 
}
.banner-card{
    position: relative;
}
.banner-card img{
   width: 100%;
   height: 800px;

}
.banner-title{
    top: 0;
    position: absolute;
    text-align: right;
    padding: 200px 240px 150px 1000px;

}
.banner-decoration{
    font-size: 65px;
    font-family: sans-serif;
}
.banner-para{
    font-size: 16px;
    padding-bottom: 20px;
}
.btn-primary{
    width: 160px;
    height: 64px;
    background-color: #F15B22;
    color: #FFFFFF;
    font-size: 20px;
    padding-top: 5px;
}
/* main styles related */
.background-text .circle{
    position: r;
}
.circle{
   background-position: center right;
    background-color: #F15B22;
    height: 527px;
    width:527px ;
    border-radius: 50%;
    margin-top: 140px;

    
}
.discription{
    margin-left: 100px;
    width: 400px;
    height: 400px;
}
.discription-size{
    font-size: 45px;
}
.discription-list{
    font-size: 20px;
}
.background-text{
     display: flex;
     align-items: center;
     padding: 200px 240px 150px 235px;
     justify-content: space-between;
     margin: 0px 230px;
     

}
.web-list{
    margin: 130px 230px;
    padding: 130px 240px 130px 235px;
    text-align: center;
}
.web-link{
    display: flex;
    /* align-items: center; */
    text-align: center;
    padding-right: 100px; 
    justify-content: space-around;
}
.website-description{
    
}
.Plans{
    padding-bottom: 70px;
    font-size: 40px;
    font-family: bold;
}
.company-name{
    font-size: 30px;
    color: #151414;
}
.start{
    color: #737272;
    font-size: 25px;
}
.banner-pic{
   margin: 0px 230px 130px 320px;
   width: 1100px;
   height: 300px;
}
.position{
   position: relative;
}
.contract{
    position: absolute;
    top: 10%;
    text-align: center;
    padding-bottom: 250px;
    margin: 0px 380px 130px 350px;
    width: 450px;
    height: 182px;

    
}
.mindset{
    font-size: 40px;
    color: #FFFFFF;
}
.btn-mindset{
    width: 160px;
    height: 54px;
    color: #F15B22;
    font-size: 20px;
    border-radius: 5px;
    border: 0px;
}
/* footer-styles-related */
footer{
    background: #151414;
    /* width: 1600px; */
    height: 525px;
    margin-bottom: 130px;
}
.future-list{
    padding: 90px 230px;
    display: flex;
    color: #FFFFFF;
    justify-content: space-between
}
.future-style{
    
    width: 485px;
    height: 327px;
    /* padding-right: 400px; */
    
    
}
.passages{
    font-size: ;
    padding: 30px 0px;
}
.web-icon{
    display: flex;
    padding-top: 10px;
}
.web-icon img{
    padding-right: 18px;
}
.subscribe-style{
    display: block;
    /* width: 325px; */
    /* height: 204px; */
    margin-right: 250px;
}
.subscribe{
    padding-bottom: 30px;
}
.btn-subscribe{
    padding-bottom: 20px;
}
button{
    margin-top: 20px;
}
.input-style{
    width: 325px;
    height: 64px;
    border-radius: 10px;
    padding-left: 30px;
    font-size: 20px;
}